# Отображение состояния репозитория (изменения, готовые к коммиту и неотслеживаемые файлы):
git status

# Добавление файла или директории в индекс (стадия изменений):
git add file.txt
git add .

# Фиксация изменений с сообщением о коммите:
git commit -m "Поменял название колонок на английский язык"

## РАБОТА С ВЕТКАМИ
# Список всех локальных веток:
git branch

# Создание новой ветки:
git branch new-feature

# Переключение на указанную ветку:
git checkout new-feature

# Создание новой ветки и переключение на нее:
git checkout -b new-feature

# РАБОТА С УДАЛЕННЫМИ РЕПОЗИТОРИЯМИ
Добавление удаленного репозитория.
git remote add origin https://github.com/username/repository.git

# Отправка изменений в удаленный репозиторий:
git push origin main

# Извлечение изменений из удаленного репозитория и слияние с текущей веткой:
git pull origin main



# Генерация файла зависимостей
pip freeze > requirements.txt

# Установка зависимостей:
1. Активируйте виртуальное окружение: .\env\Scripts\activate
pip install -r requirements.txt
